.wm-studio .wm-right-panel-container .file-container-pane .wm-file-container .wm-workspace .workspace-content .canvas-panel  .metrics.app-linearlayout{
    margin-top: 8px;
    padding-top: 8px;
    border-top-width: 1px;
    border-top-color: #f4f4f4;
}